
@mixin btn($colorHover, $colorBackground,$position) {
    text-decoration: none;
    padding: 1.2rem 3rem;
    display: inline-block;
    background: $colorBackground;
    color: white;
    font-size: 1.2rem;
    position: $position;
    z-index: 0;
    overflow: hidden;
    &:hover::before{
        left: 0;
        z-index: -1;
    }
    &::before{
        content: '';
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background: $colorHover;
        transition: .3s ease-in-out;
        z-index: -1;
    }
}
