section.community
    .container
        h2.community__title Nuestra comunidad
        .community__box
            .community__card.card-hover.community__bg1
                img(src="img/card1.jpg", alt="")
                .community__text
                    h3 Lorem ipsun
                    p Lorem ipsum dolor sit.
            .community__card.card-hover.community__bg2
                img(src="img/card2.jpg", alt="")
                a.community__btn Viajando
                .community__text
                    h3 Lorem ipsun
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            .community__card.card-hover.community__bg3
                img(src="img/card3.jpg", alt="")
                .community__text
                    h3 Lorem ipsun
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            .community__card.card-hover.community__bg4
                img(src="img/card4.jpg", alt="")
                a.community__btn--red Hospedar
                .community__text
                    h3 Lorem ipsun
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 

        
            

