footer.footer
    .container
        .footer__box
            .footer__select-box
                select.footer__select.footer__es
                    option(value="Español") Español
                    option(value="English") English
                select.footer__select.footer__en
                    option(value="US") US
                    option(value="EUR" selected) EUR
            .footer__empresa.footer__list
                ul  
                    li 
                        a.footer__link(href="#") Empresa
                    li 
                        a.footer__link(href="#") Acerca de 
                    li 
                        a.footer__link(href="#") Empleados
                    li  
                        a.footer__link(href="#") Prensa 
                    li 
                        a.footer__link(href="#") Blog
                    li 
                        a.footer__link(href="#") Ayuda
                    li 
                        a.footer__link(href="#") Políticas
                    li 
                        a.footer__link(href="#") Respuesta a las castastrofes
                    li 
                        a.footer__link(href="#") Términos y Privacidad
            .footer__descubre-airbnb.footer__list
                ul  
                    li 
                        a.footer__link(href="#") Descubre Airbnb
                    li 
                        a.footer__link(href="#") Confianza y seguridad
                    li 
                        a.footer__link(href="#") Invita a tus amigos
                    li 
                        a.footer__link(href="#") Selección de Airbnb
                    li 
                        a.footer__link(href="#") Aplicación para móviles
                    li 
                        a.footer__link(href="#") Apoya a la ciudad de Nueva York
                    li 
                        a.footer__link(href="#") Mapa de sitio
            .footer__hospedar.footer__list
                ul
                    li 
                        a.footer__link(href="#") Hospedar
                    li 
                        a.footer__link(href="#") Razones para hospedar
                    li 
                        a.footer__link(href="#") Hospitalidad
                    li 
                        a.footer__link(href="#") Ser un anfitrión responsable
                    li 
                        a.footer__link(href="#") Historias
        
        .footer__social
            ul
                li
                    a(href="#") 
                        <i class="fab fa-facebook-f"></i>
                li
                    a(href="#")
                        <i class="fab fa-twitter"></i>
                li
                    a(href="#")
                        <i class="fab fa-linkedin-in"></i>
                li
                    a(href="#")
                        <i class="fab fa-instagram"></i>