.grid
    .container
        .grid__box
            .grid__legend
                p La historia detrás del nuevo Airbnb
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde laudantium harum dolorum hic excepturi nihil neque voluptas nostrum, autem architecto dignissimos aliquam fuga. Debitis, labore voluptate molestias ab in similique.
                a(href="#") LOGO
            .grid__title
                h2 Empieza tu aventura
                p Lorem ipsum dolor sit, amet consectetur adipisicing.    