.grid
    .container
        .grid__box
            .grid__legend
                .grid__box-legend
                    p La historia detrás del nuevo Airbnb
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde laudantium harum dolorum hic excepturi nihil neque voluptas nostrum, autem architecto dignissimos aliquam fuga.
                div
                    a.grid__logo(href="#") LOGO
            .grid__title
                h2 Empieza tu aventura
                p Lorem ipsum dolor sit, amet consectetur adipisicing.    
        .grid__content
            ul.grid__container
                li.grid__img1
                    img(src="img/grid1.jpg", alt="")
                li.grid__img2
                    img(src="img/grid2.jpg", alt="")
                li.grid__img3
                    img(src="img/grid3.jpg", alt="")
                li.grid__img4
                    img(src="img/grid4.jpg", alt="")
                li.grid__img5
                    img(src="img/grid5.jpg", alt="")
                li.grid__img6
                    img(src="img/grid6.jpg", alt="")
                li.grid__img7
                    img(src="img/grid7.jpg", alt="")
                li.grid__img8
                    img(src="img/grid8.jpg", alt="")
                li.grid__img9
                    img(src="img/grid9.jpg", alt="")
                li.grid__img10
                    img(src="img/grid10.jpg", alt="")