
.header
    .container
        a.logo(href="#")
            span.logo__text LOGO
        nav.header__nav
            ul.header__list
                .header__grup1
                    li.header__item
                        a.header__link(href="#") registrate
                    li.header__item
                        a.header__link(href="#") iniciar sesión
                .header__grup2
                    li.header__item  
                        a.header__link.header__link--ayuda(href="#") ayuda
                    li.header__item  
                        a.header__link--btn(href="#") publica tu anuncio
                
        .toggle#toggle-bar
            span.toggle__bar
    .container
        .header__box
            h1.header__title nuestra casa es tu casa
            p.header__paragraph alquila espacios únicos y alójate con anfitriones de 90 países 
    .form
        .container
            .form__form-box
                .form__destination.form__section
                    input(type="text")(autocomplete="off")(require)(class="form__input")
                    label(for="destino")
                        span| ¿A dónde quieres ir?
                        
                .form__arrival.form__section
                    input(type="text")(autocomplete="off")(require)(class="form__input") 
                    label(for="llegada")
                        span| Llegada
                        
                .form__axit.form__section
                    input(type="text")(autocomplete="off")(require)(class="form__input")
                    label(for="salida")
                        span| Salida

                .form__guest.form__section
                    input(type="text")(autocomplete="off")(require)(class="form__input")
                    label(for="huesped")
                        span| Huesped
                .form__btn
                    .form__btn-link
                        a(href="") BUSCAR




