
.header
    .container
        a.logo(href="#")
            span.logo__text LOGO
        nav.header__nav
            ul.header__list
                li.header__item
                    a.header__link(href="#") registrate
                li.header__item
                    a.header__link(href="#") iniciar sesión
                li.header__item  
                    a.header__link(href="#") ayuda
                li.header__item  
                    a(href="#") publica tu anuncio





