
.header
    .container
        a.logo(href="#")
            span.logo__text LOGO
        nav.header__nav
            ul.header__list
                .header__grup1
                    li.header__item
                        a.header__link(href="#") registrate
                    li.header__item
                        a.header__link(href="#") iniciar sesión
                .header__grup2
                    li.header__item  
                        a.header__link.header__link--ayuda(href="#") ayuda
                    li.header__item  
                        a.header__link--btn(href="#") publica tu anuncio
                
        .toggle#toggle-bar
            span.toggle__bar
    .container
        .header__box
            h1.header__title nuestra casa es tu casa
            p.header__paragrah alquila espacios únicos y alójate con anfitriones de 90 países 



