// Swiper
.swiper-container
    .swiper-wrapper
        .swiper-slide 
            picture
                source(srcset="img/slide-mobile-1.jpg" media="(max-width:768px)")
                source(srcset="img/slide-1.jpg")
                img(src="img/slide-1.jpg", alt="")
        .swiper-slide 
            picture
                source(srcset="img/slide-mobile-2.jpg" media="(max-width:768px)")
                source(srcset="img/slide-2.jpg")
                img(src="img/slide-2.jpg", alt="")
        .swiper-slide 
            picture
                source(srcset="img/slide-mobile-3.jpg" media="(max-width:768px)")
                source(srcset="img/slide-3.jpg")
                img(src="img/slide-3.jpg", alt="")
        .swiper-slide 
            picture
                source(srcset="img/slide-mobile-4.jpg" media="(max-width:768px)")
                source(srcset="img/slide-4.jpg")
                img(src="img/slide-4.jpg", alt="")
        .swiper-slide 
            picture
                source(srcset="img/slide-mobile-5.jpg" media="(max-width:768px)")
                source(srcset="img/slide-5.jpg")
                img(src="img/slide-5.jpg", alt="")
    //  Add Pagination
    .swiper-pagination
    // Add Arrows
    .swiper-button-next
    .swiper-button-prev